{% extends 'account/home.html' %}


{% block body %}
{% load static %}
<section class="home">
    <div class="container" style="padding:5px;">
        <div class="container">
            <!-- blogs section starts  -->

            <section class="blogs" id="blogs">

                <h1 class="heading"> Appointment <span>Slots</span> </h1>

                <div class="container-fluid my-3" style="align-items: center;">
                    {% if doctor %}
                    <a href="{% url 'appointment_slot-create' %}"><button class="btn btn-sm mx-3">Create</button></a>
                    {% endif %}
                    <!-- <a href="{% url 'usernames' %}"
                        style="border:1px solid grey;padding:5px;float:right;margin-right:10%;margin-top: -7vh;"><span>Back</span></a> -->

                   
                </div>
                <hr>
                <div class="box-container">
                    {% if details %}
                    {% for object in details %}

                    <div class="box">

                        <div class="content" style="align-items:center;text-align:center;">
                        
                            <div class="icon">
                                <p class="m-0 p-0"><a href=""> <i class="fas fa-calendar"></i> {{object.start_time}}
                                    </a>
                                </p><br>
                                <p class="m-0 p-0"><a href=""> <i class="fas fa-calendar"></i>Start time : {{object.end_time}}
                                    </a>
                                </p><br>
                                <p class="m-0 p-0"><a href=""> <i class="fas fa-user"></i>End time : {{detail.posted_by}} </a>
                                </p>
                                <br>
                                <p class="m-0 p-0"><a href=""> Is available: {{object.is_available}} </a></p>
                                <br>

                            </div>
                            <h3>{{object.date}}</h3>
                            <!-- <p class="m-0 p-0">{{detail.text}}</p> -->
                            <p></p>
                            <div class="">
                                {% if doctor %}
                                <a href="{% url 'appointment_slot-update' object.id %}" class="btn"> Update <span
                                        class="fas fa-chevron-right"></span> </a>
                                {% endif %}
                                <a href="{% url 'appointment_slot-delete' object.id %}" class="btn mx-2"> Delete <span class="fas fa-chevron-right"></span> </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="container-fluid" style="align-items: center;text-align: center;">
                    <h3>No records found for this user !!! </h3>
                    </div>>
                    {% endif %}
                    


                </div>
            </section>
        </div>

    </div>
</section>

{% endblock %}