{% extends 'account/home.html' %}


{% block body %}
{% load static %}
<section class="home" style="justify-content: center;align-items: center;">
    <div class="container" style="padding:5px;">

        <section class="blogs" id="blogs">

            <h1 class="heading"> Notification<span>s</span> </h1>

            <hr>
            <div class="box-container">

                {% if details %}
                {% for detail in details %}

                <div class="box">

                    <div class="content" style="align-items:center;text-align:center;">

                        <div class="icon d-flex">
                            <p class="m-0 p-0"><a href=""><i class="fas fa-user"></i></i>{{detail.id}}
                                </a>
                            </p><br>
                            <p class="m-0 p-0"><a href=""><i class="fas fa-money-check-alt"></i>{{detail.text}}</a>
                            </p>
                            <br>

                        </div>

                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="container-fluid" style="align-items: center;text-align: center;">
                    <h3>No records found for this user !!! </h3>
                </div>>
                {% endif %}



            </div>
        </section>

    </div>

</section>


{% endblock %}