{% extends 'account/patient_base.html' %}


{% block body %}
{% load static %}
    <div class="container" style="justify-content: center;align-items: center;">

        <div class="container">
            <div class="container d-flex">
                <h1>Patient Users: </h1>
                <!-- <a href="{% url 'blogs_view' %}" class="my-3" style="margin-left: 30vw;"><span
                        style="border:1px solid grey;padding:5px;">Blogs</span></a>
                <a href="{% url 'logoutuser' %}"><button class="btn btn-outline-danger mx-1 my-2">LogOut</button></a> -->

            </div>
            
            <hr>

            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Role</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patientdetail in patientdetails %}
                            <tr>
                                <th scope="row">{{patientdetail.id}}</th>
                                <td><a href="{% url 'patientdetails' patientdetail.id %}">{{patientdetail.name}}</a>
                                </td>
                                <th scope="row">{{patientdetail.role}}</th>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}