<!DOCTYPE html>
<html lang="en">

<head>
    <title>HealthBuddy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<style>
    body {
        background-color: aliceblue;
    }

    .main {
        background-color: white;
        margin: 1vw 5vw;
        border: 1px solid grey;
        padding: 5vw;
    }
</style>

<body>
    <div class="" style="margin:1vw 8vw 0 8vw;display:flex;">
        <div style="margin-top:1vw;width:50%;">
            <span style="font-size:24px;"><span
                    style="border:1px solid grey;padding:4px;border-radius: 2px;">HealthBuddy</span></span>
        </div>
        <div style="width:50%;justify-content:end;">
            <ul style="display: flex;list-style-type:none;">
                <li style="font-size:19px;margin:1vw 1vw"><a href="{% url 'home_page' %}">Home</a></li>
                <li style="font-size:19px;;margin:1vw 1vw"><a href="{% url 'about' %}">About</a></li>
                <li style="font-size:19px;;margin:1vw 1vw"><a href="{% url 'first_page' %}">Profile</a></li>
                <li style="font-size:19px;;margin:1vw 1vw"><a href="{% url 'blogs_view' %}">Blogs</a></li>
                <li style="font-size:19px;margin:1vw 1vw"><a href="{% url 'notifications' %}">Notification</a></li>

                <li style="font-size:19px;margin:1vw 1vw"><a href="{{request.META.HTTP_REFERER}}">Back</a></li>
                <li style="font-size:19px;;margin:1vw 1vw;"><a href="{% url 'logoutuser' %}"
                        style="color: brown;">LogOut</a></li>
            </ul>
        </div>
    </div>
    {% if current_user %}
    <div style="margin:0 8vw;">Hii @{{current_user.name}}, Welcome to your personal healthcare buddy !!!</div>
    {% else %}
    <div style="margin:0 8vw;">Hii @User, Welcome to your personal healthcare buddy !!!</div>
    {% endif %}
    <div class="main">
        {% block body %}


        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            $('.alert').alert()
        })
    </script>
</body>

</html>