{% extends 'account/index.html' %}


{% block body %}
{% load static %}
<section class="home">


        <div class="container-fluid" style="align-items: center;">
            <span style="font-size: 26px;">Profile</span>
                {% if doctor %}
                <a href="{% url 'appointment_slots' %}"><button class="btn my-0">Appointment_slots</button></a>
                {% else %}
                <a href="{% url 'appointments' %}"><button class="btn my-0">Appointments</button></a>
                {% endif %}
            <!-- <a href="{% url 'usernames' %}"
                    style="border:1px solid grey;padding:5px;float:right;margin-right:10%;margin-top: -7vh;"><span>Back</span></a> -->

            <hr>
            <!-- <form method="get">
                    {{myfilter.form}}
                    <button class="btn btn-sm btn-outline-secondary col-3 mt-1 mb-2 mx-3" type="submit"
                        style="width:100px;">Search</a>
                </form> -->
        </div>
        <!-- blogs section starts  -->
            
        <section class="blogs" id="blogs">
            <div class="box-container">
                
                <div class="box">
                    <div class="image">
                        {% if userdetails.image.url %}
                        <img src="{{userdetails.image.url}}" alt="">
                        {% endif %}
                    </div>

                    <div class="content" style="align-items:center;text-align:center;">
                        <div class="icon">
                            <p class="m-0 p-0"><a href="#">  <i class="fas fa-user"></i></i> {{userdetails.email}}
                                </a>
                            </p><br>
                            <p class="m-0 p-0"><a href="#"><i class="fas fa-phone"></i></i>{{userdetails.phone}}</a></p><br>
                            <p class="m-0 p-0"><a href="#"> Role : {{userdetails.user_type}}</a>
                            </p>
                            <br>
                            <p class="m-0 p-0"><a href="#"> Address: {{userdetails.address_line1}}, {{userdetails.city}}, {{userdetails.state}},
                                {{userdetails.country}}, {{userdetails.pincode}} </a>
                            </p>
                            <br>
                            <p class="m-0 p-0"><a href="#"> <i class="fas fa-calendar"></i>Registered_at :{{userdetails.date_created}} </a></p>
                            <br>
                            
                        </div>
      
                        <div class="">
                            {% if doctor %}
                            <a href="{% url 'users-update' userdetails.id %}" class="btn"> Update <span class="fas fa-chevron-right"></span> </a>
                            {% endif %}
                        </div>
                    </div>
                </div>


            </div>
        </section>


</section>

{% endblock %}